@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;500;600;700&family=Lexend+Deca&family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;400&family=Work+Sans:wght@600&display=swap");

Body {
  background: #F6FAFB;
  margin: 0;
}
#EmailCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#Emaildetails {
  width: 50%;
}

#econtainer {
  margin-top: 15%;
}

#Sms {
  height: 40px;
  width:40px ;
}

h1 {
  font-size: 30px;
  font-family: 'Open Sans';
  color: #333333;
  margin: 10px 0;
}


button {
  border: none;
  border-radius: 8px;
  font-family: 'Open Sans';
  background: #714DD9;
  color: #FFF;
  font-size: 12px;
  padding: 10px 14px;
  margin: 25px 0;
  cursor: pointer;
}

button:hover {
  color: #714DD9;
  border: 1px solid #714DD9;
  background: #FFF;
}

#code {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans';
  color: #714DD9;
  margin: -5px 0 50px;
  cursor: pointer;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  font-family: 'Open Sans';
  color: #333333;
  font-weight: 400;
}

em {
  color: #714DD9;
  font-style: normal;
  font-family: 'Open Sans';
}

#address {
  cursor: pointer;
}

#displayCon {
  width: 50%;
}

#Pimg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 670px;
}

@media (max-width: 1024px) { 
  h1 {
    
  font-size: 25px;
  }
}



@media (max-width: 480px) { 
  #displayCon {
   display: none;
  }

  #econtainer {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 18px;
  }
  
  button {
    border: none;
    border-radius: 8px;
    font-family: 'Open Sans';
    background: #714DD9;
    color: #FFF;
    font-size: 12px;
    padding: 10px 14px;
    margin: 25px 0;
  }
  
  #code {
    font-size: 11px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: #714DD9;
    margin: -10px 0 200px;
  }
  
  p {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    white-space: nowrap ;
  }
}