@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;500;600;700&family=Lexend+Deca&family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;400&family=Work+Sans:wght@600&display=swap");

Body {
  margin: 0;
}
#EmailCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#Emaildetails {
  background: blue;
  width: 50%;
}

#econtainer {
  display: flex;
  vertical-align: middle;
}

h1 {
  font-size: 35px;
  font-family: 'Open Sans';
  color: #333333;
  margin: 4px 0;
}


h6{
  font-size: 13px;
  font-family: 'Open Sans';
  color: #333333;
}
button {
  border: none;
  border-radius: 8px;
  font-family: 'Open Sans';
  background: #714DD9;
  color: #FFF;
  font-size: 12px;
  padding: 10px 14px;
  margin-bottom: 10px;
}

#code {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans';
  color: #714DD9;
}

p {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans';
  color: #333333;
}

em {
  color: #714DD9;
  font-style: normal;
  font-family: 'Open Sans';
}

#displayCon {
  width: 50%;
}

#Pimg {
  max-width: 100%;
  max-height: 670px;
}
